In [1]:
import numpy as np
import pandas as pd # data processing

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
0,189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,correct
1,189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,correct
2,189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,correct
3,189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,correct
4,189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,correct

In [4]:
test.head()

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare
0,213284604,10.5,924,42,2.4486,148,2/1/2020 0:38,2/1/2020 0:53,6.83454,79.8750,6.77490,79.8840,289.27
1,213286352,10.5,4249,20,0.0000,91,2/1/2020 1:02,2/1/2020 2:13,6.91168,79.8723,6.55091,79.9706,1912.70
2,213293973,10.5,1552,255,2.6588,23,2/1/2020 5:02,2/1/2020 5:28,6.92145,79.8478,6.90539,79.8989,394.00
3,213294622,10.5,462,16,0.0000,198,2/1/2020 5:30,2/1/2020 5:38,6.77433,79.9416,6.80401,79.9407,154.32
4,213298687,10.5,814,392,12.3692,69,2/1/2020 7:00,2/1/2020 7:14,6.97968,79.9130,6.98875,79.8914,147.47

In [5]:
predictor_cols = ['additional_fare', 'duration', 'meter_waiting', 'meter_waiting_fare', 'meter_waiting_till_pickup', 'fare']
train_X = train[predictor_cols]
test_X = test[predictor_cols]

In [7]:
train_X

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,fare
0,10.5,834.0,56.0,0.000000,64.0,270.32
1,10.5,791.0,47.0,0.000000,134.0,197.85
2,10.5,1087.0,80.0,0.000000,61.0,301.64
3,10.5,598.0,271.0,15.663800,68.0,82.30
4,NaN,NaN,NaN,NaN,NaN,358.39
5,10.5,3407.0,182.0,0.000000,112.0,1065.02
6,10.5,1246.0,487.0,0.000000,133.0,266.62
7,10.5,1333.0,295.0,17.198500,212.0,318.05
8,10.5,360.0,80.0,4.664000,3.0,100.32
9,10.5,1539.0,588.0,33.986400,43.0,257.89
10,10.5,26.0,19.0,0.000000,73.0,694.37
11,10.5,31.0,20.0,0.000000,130.0,235.59
12,10.5,2011.0,199.0,0.000000,165.0,452.39
13,10.5,1260.0,30.0,0.000000,9.0,111.21
14,10.5,335.0,10.0,0.583000,17.0,126.87
15,10.5,4221.0,1608.0,84.214600,72.0,672.87
16,10.5,1472.0,219.0,12.699976,413.0,305.22
17,10.5,284.0,0.0,0.000000,82.0,95.31
18,10.5,2435.0,381.0,0.000000,186.0,461.25
19,10.5,891.0,170.0,0.000000,57.0,226.54
20,10.5,2956.0,1686.0,97.450800,29.0,NaN
21,10.5,3176.0,390.0,0.000000,269.0,692.75
22,10.5,693.0,280.0,9.883800,318.0,109.36
23,5.0,850.0,143.0,8.336900,0.0,235.25
24,10.5,1443.0,59.0,0.000000,173.0,421.11
25,10.5,358.0,66.0,0.000000,79.0,210.58
26,10.5,644.0,638.0,14.796800,108.0,113.71
27,10.5,618.0,128.0,7.398400,126.0,106.80
28,10.5,1407.0,210.0,0.000000,62.0,219.48
29,10.5,575.0,23.0,0.000000,66.0,178.26
...,...,...,...,...,...,...
17146,10.5,2417.0,183.0,10.577400,70.0,579.12
17147,5.0,179.0,2.0,0.116600,0.0,70.75
17148,10.5,1184.0,219.0,12.658200,12.0,193.80
17149,10.5,1049.0,5.0,0.000000,239.0,310.88
17150,NaN,NaN,NaN,NaN,NaN,NaN
17151,10.5,413.0,11.0,0.000000,59.0,139.03
17152,10.5,2905.0,389.0,22.484200,92.0,667.64
17153,5.0,358.0,30.0,1.749000,0.0,115.22
17154,10.5,451.0,83.0,4.838900,182.0,106.52
17155,10.5,1155.0,100.0,0.000000,142.0,214.93
17156,10.5,965.0,374.0,21.804200,35.0,131.09
17157,10.5,649.0,34.0,1.971977,233.0,141.66
17158,10.5,485.0,74.0,0.000000,210.0,96.70
17159,10.5,995.0,248.0,14.365427,36.0,181.05
17160,10.5,685.0,32.0,0.000000,32.0,196.24
17161,10.5,1326.0,20.0,1.156000,113.0,362.96
17162,10.5,1125.0,85.0,0.000000,41.0,398.64
17163,10.5,831.0,27.0,0.000000,133.0,181.78
17164,10.5,733.0,43.0,0.000000,39.0,210.74
17165,30.5,1009.0,178.0,0.000000,75.0,214.28
17166,40.5,1859.0,1856.0,108.204800,298.0,208.70
17167,10.5,801.0,7.0,0.000000,101.0,210.26
17168,10.5,500.0,117.0,0.000000,10.0,105.42
17169,10.5,2747.0,230.0,13.294000,287.0,821.29
17170,10.5,400.0,95.0,0.000000,113.0,81.23
17171,10.5,838.0,93.0,5.421900,451.0,198.26
17172,10.5,2151.0,428.0,0.000000,39.0,581.23
17173,10.5,263.0,9.0,0.000000,110.0,76.20
17174,10.5,858.0,115.0,0.000000,317.0,133.31
17175,10.5,262.0,21.0,1.224300,23.0,98.57

In [13]:
train.fillna(train_X.mean(), inplace=True)
test.fillna(test_X.mean(), inplace=True)

train.head()

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
0,189123628,10.500000,834.000000,56.000000,0.000000,64.000000,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,correct
1,189125358,10.500000,791.000000,47.000000,0.000000,134.000000,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,correct
2,189125719,10.500000,1087.000000,80.000000,0.000000,61.000000,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,correct
3,189127273,10.500000,598.000000,271.000000,15.663800,68.000000,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,correct
4,189128020,13.719651,1702.858077,629.074231,32.057666,112.466832,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,correct

In [19]:
train['num_label'] = False

for index, row in train.iterrows():
    if(row['label'] == "correct"):
        train.at[index, 'num_label'] = 1
    else:
        train.at[index, 'num_label'] = 0


train_X2 = train[predictor_cols]
test_X = test[predictor_cols]
train_y2 = train.num_label

train_X2.head()

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,fare
0,10.500000,834.000000,56.000000,0.000000,64.000000,270.32
1,10.500000,791.000000,47.000000,0.000000,134.000000,197.85
2,10.500000,1087.000000,80.000000,0.000000,61.000000,301.64
3,10.500000,598.000000,271.000000,15.663800,68.000000,82.30
4,13.719651,1702.858077,629.074231,32.057666,112.466832,358.39

In [20]:
train_y2.head()

0    True
1    True
2    True
3    True
4    True
Name: num_label, dtype: bool

In [23]:
!pip install sklearn

Collecting sklearn
  Downloading https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Requirement already satisfied: scikit-learn in /home/mojith/anaconda3/lib/python3.7/site-packages (from sklearn) (0.21.2)
Requirement already satisfied: joblib>=0.11 in /home/mojith/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (0.13.2)
Requirement already satisfied: scipy>=0.17.0 in /home/mojith/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.3.0)
Requirement already satisfied: numpy>=1.11.0 in /home/mojith/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.18.4)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Stored in directory: /home/mojith/.cache/pip/wheels/76/03/bb/589d421d27431bcd2c6da284d5f2286c8e3b2ea3cf1594c074
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

NameError: name 'X' is not defined

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(train_X2, train_y2, test_size = 0.2, train_size = 0.8, random_state = 0)

In [30]:
y_test.head()

7219    True
6673    True
1274    True
2118    True
3914    True
Name: num_label, dtype: bool

In [37]:
# LogisticRegression
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(max_iter=400)
lr.fit(X_train,y_train)
lr_pred=lr.predict(X_test)

/home/mojith/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [38]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, lr_pred)
print(cnf_matrix)

[[  30  291]
 [   9 3106]]

In [46]:
predicted_lr = lr.predict(test_X)

pred_lr = []
for x in range(len(predicted_lr)):
    pred_lr.append(bool(predicted_lr[x]))
    
predicted_lr = np.array(pred_lr)

output_lr = pd.DataFrame({'tripid': test.tripid,
                       'prediction': predicted_lr})

In [47]:
output_lr_path = "submission_lr.csv"
output_lr.to_csv(output_lr_path, index=False)